
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <div class="settings">
            <div class="user-profile">
              <div class="user-photo">
                <img src="/sports.jpg" alt="sports" />
              </div>
              <h3>
                {{{id}}}
              </h3>
              <h4>
                {{{email}}}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
      
  </div>
</div>



<script src="/js/profile.js"></script>