<div class="container">
  <div class="box-small">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <div class="settings">
            <div class="user-profile">
              <div class="user-photo">
                <img src="" alt="">
              </div>
              <h5 class="username">{{{id}}}</h5>
              <h6 class="user-email">{{{email}}}</h6>
            </div>
        </div>
      </div>
    </div>
    </div>
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <div class="box-big">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="mb-3 text-primary">
              Account Details
            </h5>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="name">
                Full Name
              </label>
              <input
                type="text"
                class="form"
                id="name"
                placeholder="Update Name"
              />
            </div>
          </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="email">
                Email Address
              </label>
              <input
                type="email"
                class="form"
                id="email"
                placeholder="Update Email Address"
              />
            </div>
        </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="phone #">
                Phone #
              </label>
              <input
                type="text"
                class="form"
                id="phone #" 
                placeholder="Update Phone #"
              />
            </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="linkedIn">
                LinkedIn Profile
              </label>
              <input
                type="url"
                class="form"
                id="linkedIn" 
                placeholder="Update LinkedIn URL"
              />
            </div>
          </div>
        </div>
        <br>
        <div class="box-2">
           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               <h6 class="mb-3 text-primary">Address</h6>
           </div>

           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="street">
                Street
              </label>
              <input
                type="text"
                class="form"
                id="street" 
                placeholder="Update Street"
              />
            </div>
           </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="city">
                City
              </label>
              <input
                type="name"
                class="form"
                id="city" 
                placeholder="Update City"
              />
            </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="state">
                State
              </label>
              <input
                type="text"
                class="form"
                id="state" 
                placeholder="Update State">
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="zip">
                Zipcode
              </label>
              <input
                type="text"
                class="form"
                id="zip" 
                placeholder="Update Zipcode">
            </div>
        </div>
      </div>
      <div class="box-3">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                  <button type="button" class="btn btn-secondary active">Reset</button>
                  <button type="button" class="btn btn-primary active">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="/js/profile.js"></script>