<div class="container">
<div class="row">
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-body">
				<div class="settings">
					<div class="user-profile">
						<div class="user-photo">
							<img src="" alt="">
						</div>
						<h5 class="user-name">{{{id}}}</h5>
						<h6 class="user-email"{{{user-email}}}></h6>
					</div>
				</div>
			</div>
		</div>
	</div>



<script src="/js/profile.js"></script>