<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Blog</title>
</head>

<body>
    <nav>
        <div class="container">
            <button>Home</button>
            <button>Log in</button>
            <button>Sign Up</button>

        </div>
    </nav>

    <header>
        <h1>Welcome to Sports Blog</h1>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>
        <p></p>
    </footer>

    {{!-- {{#if logged_in}}
    <script src="tbd.js"></script>
    {{/if}} --}}

</body>

</html>
