.body {
  margin-top: 20px;
  background-color: red;
}

header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }

  /* Profile css */ 



.settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.settings .user-profile .user-photo {
  margin: 0 0 1rem 0;
}

.card {
  background: lightcoral;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
  font-size: 8px;
  color: black;
}

.form-site {
  
}

