

header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }

  /* Profile css */ 

.body {
  margin-top: 20px;
  color: rgb(4, 26, 34);
  background: #0f1c3d;
}

.settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.settings .user-profile .user-photo img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.card {
  background: rgb(129, 132, 134);
  border-radius: 10px;
  border: 0;
  margin-bottom: 1rem;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.form-control {
  border: 1px solid #13204d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #1a233a;
  color: rgb(182, 191, 194);
}



/* will be updating more on friday for profile */






